/* Index Page */

$pureWhite: rgb(255, 255, 255);
$ashWhite: rgb(245, 245, 245);
$ashBlue: rgba(133, 141, 166, 0.5);
$dustGreen: rgba(12, 23, 21, 0.5);

/* Index Page End*/

/* Product Preview Card */

$darkCyan: hsl(158, 36%, 37%);
$vdCyan: hsl(158, 36%, 19%);
$cream: hsl(30, 38%, 92%);
$vdBlue: hsl(212, 21%, 14%);
$dgBlue: hsl(228, 12%, 48%);
$pp-white: hsl(0, 0%, 100%);

/* Product Preview Card End*/